h2{
    font-family: 'Courier New', Courier, monospace;
}

.details{
    justify-content: center;
    display: flex;
    align-items: center;
}

.footer{
    background-color: #26425a;
}

.footer h2{
    color: white;
}

.footer h5{
    color: white;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer p{
    color: white;
}
.footer ul {
    color: white;
}
