{% extends 'partial/main.html' %}
{% load static %}
{% block content %}

<header class="">
    <div class="container px-2 px-lg-3 my-3">
        <div class="text-center text-black">
            <h1 class="display-4 fw-bolder">Shopping Cart</h1>
            <p class="lead fw-normal text-black-50 mb-0">view Your cart</p>
        </div>
    </div>
</header>

<br>
<div class="container-fluid">
    {% if cart_products%}
        {% for product in cart_products%}  
        <div class="card mb-3" style="max-width: 740px;">
            <div class="row g-0">
            <div class="col-md-3">
                <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-9">
                <div class="card-body">
                <h5 class="card-title">Name: {{product.name}}</h5>
                <p class="card-text">Price: ₦{{product.price}}</p>
                <div class="row ">
                    <div class="col-md-2">Quantity:</div>
                    <div class="col-md-2">
                        <select class="form-select form-select-sm " id="select{{product.id}}" >
                            <option selected>
                                {% for key,value in quantities.items %}
                                    {% if key == product.id|slugify %}
                                        {{value}}
                                    {% endif %}
                                {% endfor %}
                            </option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>
                <br>
                <p class="card-text">Description: {{product.description}}.</p>
                <a class="btn btn-outline-dark mt-auto" href="{% url 'home' %}">Home</a>
                <button type="button" data-index="{{product.id}}" class="btn btn-secondary update-cart">Update</button>
                <button type="button" data-index="{{product.id}}" class="btn btn-danger delete-product">Remove</button>
                
                </div>
            </div>
            </div>
        </div>
        {% endfor %}
        <div align="left">
        <h3>Total: ₦{{totals}} </h3>
        <a href="{% url 'checkout' %}" class="btn btn-success">Checkout</a>
        </div>
    {% else %}
     
    There's Nothing In Your Cart.....
    
    {% endif %}
</div>





<br><br><br>



<script>
    //check if button was pressed
    // update cart
$(document).on('click','.update-cart',function(e){
    e.preventDefault();
    //grab the product id 
    var productid = $(this).data('index')

    $.ajax({
        type: 'POST',
        url : "{% url 'cart_update' %} ",
        data : {
            product_id : $(this).data('index'),
            product_qty: $('#select' + productid + ' option:selected').text(),
            csrfmiddlewaretoken : '{{ csrf_token }}',
            action : 'post'

        },

        success: function(json){
            //console.log(json)
            // document.getElementById('cart_quantity').textContent = json.qty
            location.reload();
        },

        error: function(xhr, errmsg,err){

        }

    });
})
</script>



<script>
    //check if button was pressed
    // delete item from cart
$(document).on('click','.delete-product',function(e){
    e.preventDefault();
    //grab the product id 
    // var productid = $(this).data('index')

    $.ajax({
        type: 'POST',
        url : "{% url 'cart_delete' %} ",
        data : {
            product_id : $(this).data('index'),
            csrfmiddlewaretoken : '{{ csrf_token }}',
            action : 'post'

        },

        success: function(json){
            //console.log(json)
            // document.getElementById('cart_quantity').textContent = json.qty
            location.reload();
        },

        error: function(xhr, errmsg,err){

        }

    });
})
</script>


{% endblock content %}