{% extends 'partial/main.html' %}
{% load static %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="register">
                <div class="card text-center">
                    <div class="card-header">
                      Page Not Found (404)
                    </div>
                    <div class="card-body">
                      <p class="card-text">Sorry We Can't Find The Page You Are Looking For.... </p>
                      <a href="{% url 'home' %}" class="btn btn-primary">Go Back Home</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>


<br>
<br><br><br><br><br>








{% endblock content %}