{% extends 'partial/main.html' %}
{% load static %}
{% block content %}


<br>
<div class="container-fluid">
    <h2>Details :</h2>
    <div class="details">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">

                <div class="col-md-4">
                    <img src="{{room.image.url}}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Name: {{room.name}}</h5>
                        <p class="card-text">Price: ${{room.price}}</p>
                        <p class="card-text">Description: {{room.description}}</p>
                        <p class="card-text">Cateogry: {{room.cateogry}}</p>
                        <a class="btn btn-outline-dark mt-auto" href="{% url 'home' %}">Home</a>
                        <a href="#" class="btn btn-outline-primary">Order</a>
                    </div>
              </div>
            </div>
        </div>
    </div>
</div>




{% endblock content %}