{% extends 'partial/main.html' %}
{% load static %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="register">
                <form action="{% url 'update_info' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h2>Update Info</h2><br>
                    <strong>Billing Information</strong>
                    <br>
                    {{form.as_p}}
                    <br><br>

                    <strong>Shipping Info </strong>
                    {{shipping_form.as_p}}
                    <button type="submit" class="btn btn-primary"> Submit</button>
                    

                    



                </form>
            </div>
        </div>
    </div>
</div>



<br>





{% endblock content %}