<footer class="footer p-2">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h2>Market Place</h2>
            </div>
            <div class="col-md-3">
                <h5>About</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                </p>
            </div>
            <div class="col-md-3">
                <h5>Links</h5>
                <ul class="list-inline footer-links"> 
                    <li class="list-inline-item"> 
                        <a href="{% url 'home' %}"> 
                            <i class="bi bi-house-fill"></i>
                            Home
                        </a> 
                    </li> 
                    <li class="list-inline-item"> 
                      <a href="#"> 
                            <i class="fab fa-twitter"></i> 
                      </a> 
                    </li> 
                    <li class="list-inline-item"> 
                      <a href="#"> 
                            <i class="fab fa-instagram"></i> 
                      </a> 
                    </li> 
                    <li class="list-inline-item"> 
                      <a href="#"> 
                            <i class="fab fa-linkedin"></i> 
                      </a> 
                    </li> 
                </ul> 
            </div>
            <div class="col-md-3"> 
                <h5>Contact Us</h5> 
                <ul class="list-unstyled"> 
                    <li>Email: leohukwu48@gmail.com</li> 
                    <li>Phone: +2347013029124</li> 
                    <li>Address: 123 Street, City, Country</li> 
                </ul> 
            </div> 
        </div>
        <hr>
        <div class="row"> 
            <div class="col-md-6"> 
                <p>© 2024 Your Website. All rights reserved.</p> 
            </div> 
            <div class="col-md-6 text-end"> 
                <ul class="list-inline footer-links"> 
                    <li class="list-inline-item"> 
                        <a href="#" class="text-white"> 
                            Privacy Policy 
                        </a> 
                    </li> 
                    <li class="list-inline-item"> 
                        <a href="#" class="text-white"> 
                            Terms of Service 
                        </a> 
                    </li> 
                    <li class="list-inline-item"> 
                        <a href="#" class="text-white"> 
                            Sitemap 
                        </a> 
                    </li> 
                </ul> 
            </div> 
        </div>
    </div>
</footer>