{% extends 'partial/main.html' %}
{% load static %}
{% block content %}

<header class="">
    <div class="container px-2 px-lg-3 my-3">
        <div class="text-center text-black">
            <h1 class="display-4 fw-bolder">Billing Info</h1>
            <p class="lead fw-normal text-black-50 mb-0">Enter Your Payment Info</p>
        </div>
    </div>
</header>

<br>

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="register">
               

                <div class="card">
                    <div class="card-header">
                      Order Summary 
                    </div>
                    <div class="card-body">
                        {% for product in cart_products%}

                            {{product.name }}:
                            ${{product.price}}
                            <br>
                            <small>Quantity : 
                            {% for key,value in quantities.items %}
                                    {% if key == product.id|slugify %}
                                        {{value}}
                                    {% endif %}
                                {% endfor %}
                            </small>
                            <br><br>
                        {% endfor %}
                        <strong>Total: ${{ totals }}</strong><br>
                        <a href="{% url 'cart_summary' %}" class="btn btn-sm btn-outline-secondary" >Update Items</a>
                    </div>
                </div>
                <br><br>


                <div class="card">
                    <div class="card-header">
                      Shipping Info 
                    </div>
                    <div class="card-body">
                        
                      Name: {{ shipping_info.shipping_full_name }} <br>
                      Email: {{ shipping_info.shipping_email }} <br>
                      Address1: {{ shipping_info.shipping_address1 }} <br>
                      Address2: {{ shipping_info.shipping_address2}} <br>
                      City: {{ shipping_info.shipping_city }} <br>
                      State: {{ shipping_info.shipping_state }} <br>
                      Zipode: {{ shipping_info.shipping_zipcode }} <br>
                      Country: {{ shipping_info.shipping_country }} <br>
                      <br>
                      <a href="{% url 'checkout' %}" class="btn btn-outline-secondary"> Update Shipping</a>  
                    </div>
                </div>
                <br><br>
                <form id="paymentForm" method="post" action="{% url 'payment_success' %}">
                    {% csrf_token %}
                    
                    <div class="form-submit">
                      <button type="submit" onclick="payWithPaystack()" class="btn btn-lg btn-success"> Pay Now</button>
                    </div>
                </form>
                  
                  <script src="https://js.paystack.co/v1/inline.js"></script>
            </div>
        </div>
    </div>
</div>









<br><br><br>


<script>
var amount = '{{totals}}';
const paymentForm = document.getElementById('paymentForm');
paymentForm.addEventListener("submit", payWithPaystack, false);

function payWithPaystack(e) {
  e.preventDefault();

  let handler = PaystackPop.setup({
    key: 'pk_test_e6eca74ec605d20f5b50347ec535e15501b04afe', // Replace with your public key
    currency : 'NGN',
    email: '{{ shipping_info.shipping_email }}',
    amount: amount * 100,
    ref: ''+Math.floor((Math.random() * 1000000000) + 1), 
    // label: "Optional string that replaces customer email"
    onClose: function(){
      alert('Window closed.');
    },
    callback: function(response){
      let message = 'Payment complete! Reference: ' + response.reference;
      alert(message);
      window.location.href = "{% url 'payment_success' %}";
    }
  });

  handler.openIframe();
}





</script>



{% endblock content %}